{% extends 'layout.html' %}

{% block title %}
    <title>Ajouter un tableau</title>
{% endblock %}

{% block body %}

    <div class="head">
        <h2>Ajout d'un tableau</h2>
        {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
        <form method="post" action="/tableaux/add">
    </div>

    <fieldset>
        <div class="container w-75 margin-top-40">
            <div class="border rounded w-50">
                <legend>Tableau</legend>
                <div class="form-group row margin-bot">
                    <label for="nom" class="col-sm-3 col-form-label margin-left">Nom</label>
                    <div class="col-sm-6">
                        <input required="required" id="nom" class="form-control" type="text" name="nom" size="18" value="" placeholder="Saisir le nom du tableau">
                    </div>
                </div>

                <div class="form-group row margin-bot">
                    <label for="prix-assurance" class="col-sm-3 col-form-label margin-left">Prix assurance</label>
                    <div class="col-sm-6">
                        <input required="required" id="prix-assurance" class="form-control" type="text" name="prix-assurance" size="18" value="" placeholder="Saisir le prix de l'assurance">
                    </div>
                </div>

                <div class="form-group row margin-bot">
                    <label for="date-realisation" class="col-sm-3 col-form-label margin-left">Date réalisation</label>
                    <div class="col-sm-6">
                        <input required="required" id="date-realisation" class="form-control" type="date" name="date-realisation" size="18" value="">
                    </div>
                </div>

                <div class="form-group row margin-bot">
                    <label for="peintre" class="col-sm-3 col-form-label margin-left">Peintre</label>
                    <div class="col-sm-6">
                        <input required="required" id="peintre" class="form-control" type="text" name="peintre" size="18" value="" placeholder="Saisir le peintre">
                    </div>
                </div>

                <div class="form-group row margin-bot">
                    <label for="musee" class="col-sm-3 col-form-label margin-left">Musée</label>
                    <div class="col-sm-6">
                        <input required="required" id="musee" class="form-control" type="text" name="musee" size="18" value="" placeholder="Saisir le musée">
                    </div>
                </div>

                <div class="form-group row margin-bot">
                    <label for="mouvement" class="col-sm-3 col-form-label margin-left">Mouvement</label>
                    <div class="col-sm-6">
                        <input required="required" id="mouvement" class="form-control" type="text" name="mouvement" size="18" value="" placeholder="Saisir le mouvement">
                    </div>
                </div>

                <div class="form-group row margin-bot">
                    <label for="epoque" class="col-sm-3 col-form-label margin-left">Époque</label>
                    <div class="col-sm-6">
                        <select id="epoque" class="form-control" name="epoque" required>
                            <option value="">Sélectionner une époque</option>
                            {% for type in type_epoque %}
                                <option value="{{ type.id_type_epoque}}"> {{ type.libelle }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row margin-bot">
                    <label for="photo" class="col-sm-3 col-form-label margin-left">Photo</label>
                    <div class="col-sm-6">
                        <input id="photo" class="form-control" type="file" name="photo" size="18" value="" placeholder="Choisir la photo">
                    </div>
                </div>
                <br>
                <div class="col text-center margin-bot">
                    <input class="btn btn-primary" type="submit" value="Creer" name="Valider">
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}