{% extends 'layout.html' %}

{% block title %}
    <title>Afficher les tableaux</title>
{% endblock %}

{% block body %}
<br><br>
<div class="head">
    <h3>Tableaux</h3>
    <a type="button" class="btn btn-outline-success" href="/tableaux/add">Ajouter</a>
</div>
<br><br>
<div>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prix Assurance</th>
                <th>Date Réalisation</th>
                <th>Peintre</th>
                <th>Musée</th>
                <th>Mouvement</th>
                <th>Epoque</th>
                <th>Photo</th>
                <th>Opérations</th>
            </tr>
        </thead>
        <tbody>
        {% if tableau | length >= 1 %}
            {% for ligne in tableau %}
                <tr>
                    <td>{{ ligne.id_tableau }}</td>
                    <td>{{ ligne.nom_tableau }}</td>
                    <td>{{ ligne.prix_assurance }} €</td>
                    <td>{{ ligne.date_realisation }}</td>
                    <td>{{ ligne.peintre }}</td>
                    <td>{{ ligne.localisation_musee }}</td>
                    <td>{{ ligne.mouvement }}</td>
                    <td>{{ ligne.libelle }}</td>
                    <td>
                        {% if ligne.photo == "" %}
                            <img src="{{ url_for ('static', filename='images/no_photo.jpeg')}}" alt="" style="height: 50px; width: 50px;">
                        {% else %}
                            <img src="{{ url_for ('static', filename='images/' + ligne.photo)}}" alt="" style="height: 50px; width: 50px;">
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-warning btn-sm edit-button"><a href="/tableaux/edit?id={{ ligne.id_tableau }}"><span class="edit-button">Editer</span></a></button>
                            <button class="btn btn-danger btn-sm delete-button"><a href="/tableaux/delete?id={{ ligne.id_tableau }}"><span class="delete-button">Supprimer</span></a></button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
                <tr>
                    <td>
                        Pas de tableau
                    </td>
                </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}