{% extends 'layout.html' %}

{% block title %}
    <title>Afficher les tableaux</title>
{% endblock %}

{% block body %}

    <div style="display: flex; flex-direction: column;">
        <h3 class="m-auto mt-4">Tableaux</h3>
    </div>

    <div class="container cards-div" style="display: flex; flex-direction: column">
        <div class="filters m-auto">
            <h4>Filtres :</h4>
            <div class="recherche-filtre" style="display: flex;">
                <p>Tableaux dont le nom est composé de : </p>
                <input id="name-filter" class="form-control" type="text" size="18" value="" placeholder="Recherche" style="width: 200px; margin-left: 20px">
            </div>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch1">
              <label class="custom-control-label" for="customSwitch1">Renaissance</label>
            </div>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch2">
              <label class="custom-control-label" for="customSwitch2">Temps Modernes</label>
            </div>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch3">
              <label class="custom-control-label" for="customSwitch3">Contemporain</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch4">
                <label class="custom-control-label" for="customSwitch3">Moyen-Age</label>
            </div>
            <div class="recherche-filtre" style="display: flex;">
                <p>Prix en euros se trouvant entre</p>
                <input id="name-filter" class="form-control" type="text" size="18" value="" placeholder="" style="width: 100px; margin-left: 20px; margin-right: 10px;">
                <p>et</p>
                <input id="name-filter" class="form-control" type="text" size="18" value="" placeholder="" style="width: 100px; margin-left: 10px">
            </div>
            <button type="button" class="btn btn-outline-secondary mt-3" style="margin-left: 160px;">Appliquer les filtres</button>
        </div>

        <div class="container row m-auto m-lg-5">
        {% for ligne in tableaux %}
            <div class="card bg-light mb-3 cards m-auto" style="width: 24rem;">
                <div class="card-body">
                    <h5 class="card-title">#{{ ligne.id_tableau }} | <b>{{ ligne.nom_tableau }}</b></h5>
                </div>
                <div class="card-body m-auto">
                    {% if ligne.photo == "" %}
                        <img src="{{ url_for ('static', filename='images/no_photo.jpeg')}}" alt="" style="height: 150px; width: auto;">
                    {% else %}
                        <img src="{{ url_for ('static', filename='images/' + ligne.photo)}}" alt="" style="height: 150px; width: auto;">
                    {% endif %}
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><b>Peintre:</b> {{ ligne.peintre }}</li>
                        <li class="list-group-item"><b>Prix assurance: </b>{{ ligne.prix_assurance }}€</li>
                        <li class="list-group-item"><b>Date réalisation: </b>{{ ligne.date_realisation }}</li>
                        <li class="list-group-item"><b>Musée: </b>{{ ligne.localisation_musee }}</li>
                        <li class="list-group-item"><b>Mouvement: </b>{{ ligne.mouvement }}</li>
                    </ul>
                </div>
                <div class="card-body buttons m-auto">
                    <a type="button" class="btn btn-warning" href="/cards/edit?id={{ ligne.id_tableau }}">Editer</a>
                    <a type="button" class="btn btn-danger" href="/cards/delete?id={{ ligne.id_tableau }}" >Supprimer</a>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>

{% endblock %}