* {
    font-family: Poppins;
}

.head {
    text-align: center;
}

.menu {
    color: black;
    margin-top: 15px;
    margin-left: 15px;
}

table ,tr {
    table-layout: fixed;
    height: 40px;
    border-collapse: collapse;
    background-color: grey;
    text-align: center;
    overflow-x: hidden;
}

a:link {
    text-decoration: none;
    color: white;
}

.flashes {
    padding: 5px;
    margin : 5px;
}

.alert-warning {
    background-color: rgb(255, 218, 84);
}

.alert-danger {
    background-color: rgb(255, 88, 88);
}

.alert-success {
    background-color: green;
}

.edit-button a{
    color: black;
}

.delete-button a{
    color: white;
}

.photo-button a{
    color: black;
}

legend {
    text-align: center;
}

.margin-left {
    margin-left: 12%;
}

.margin-bot {
    margin-bottom: 10px;
}

.margin-right-40 {
    margin-right: 40px;
}

.border {
    margin: auto;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.text-align-center {
    text-align: center;
}

.cards {
    margin: auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    padding: 0 1em;
}

nav {
    border-bottom: solid 1px black;
    background: rgb(21,238,12);
    background: linear-gradient(90deg, rgba(21,238,12,1) 0%, rgba(133,80,0,1) 9%, rgba(14,42,163,1) 14%, rgba(53,98,57,1) 22%, rgba(202,66,17,1) 32%, rgba(15,186,181,1) 36%, rgba(156,12,165,1) 39%, rgba(206,255,0,1) 53%, rgba(97,224,208,1) 61%, rgba(238,0,169,1) 66%, rgba(153,175,0,1) 71%, rgba(111,0,79,1) 75%, rgba(0,0,0,1) 82%, rgba(0,22,255,1) 89%, rgba(61,0,0,1) 94%, rgba(16,92,0,1) 100%);
}