<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><Hydrobus></a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle texte-navbar" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tableaux
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/tableaux/show">Afficher les tableaux</a></li>
              <li><a class="dropdown-item" href="/tableaux/add">Ajouter un tableau</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle texte-navbar" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Types d'époque
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/type_epoque/show">Afficher les types d'époque</a></li>
              <li><a class="dropdown-item" href="/type_epoque/add">Ajouter un type d'époque</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle texte-navbar" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cards et Filtres
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/cards/show">Afficher les cards</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>